$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

.container {
    @include container();
    max-width: 1160px;
    margin: 0 auto;
    
    @include breakpoint(768px) {
        padding: 0 20px;
    }
}