.section {
  @include clearfix();
  color: $blue;
  padding: 15rem 0;
  @media only screen and (max-width: 790px) {
    padding: 50px 0;
  }
  // Section items
  .item-heading {
    @include span(8 of 12);
    @media only screen and (max-width: 790px) {
      @include span(12 of 12 first);
      h1{
        font-size:72px;
      }
    }
    h1 {
      margin: 0;
    }
  }

  .item-content {
    padding-top:155px;
    @include span(4 of 12 last);
    @media only screen and (max-width: 790px) {
      padding-top:50px;
      @include span(12 of 12 first);
      p{
        font-size:21px;
        line-height: 31px;
      }
    }
  }

  // Big title section
  &__title {
    h1 {
      font-size: 15rem;
      line-height: 1;
    }
  }

  // Content section
  &__content {
    @include clearfix();
    position: relative;
    float: right;

    p {
      max-width: 90%;
      float: left;
      font-size: 26px;
      line-height:36px;
    }

    // Border
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 2000px;
      height: 8px;
      background-color: $red;
      z-index: 9999;
    }
  }

  // Helpers
  &--bg-red {
    background-color: $red;
    color: #fff;

    .section__content {
      &:before {
        background-color: $blue;
      }
    }
  }

  &--bg-blue {
    background-color: $blue;
    color: #fff;
  }
}
