body {margin: 0; padding: 0; overflow: auto; font-family: Source Sans Pro; color: white; background-color: #2981ba;}

h1, .big-heading {font-size: 3em; margin: 10px 0;}
h2, h3 {font-size: 2em;}
h3 a { color: white; }

code {font-family: Source Code Pro; font-size: 12px; background: #fafafa; border-radius: 3px; padding: 3px 5px; line-height: 20px;}

img {width: 100%;}

p, li {line-height: 1.4em;}
li {padding-bottom: 4px;}
p:first-child {padding-top: 0; margin-top: 0;}

a {color: #fff; text-decoration: none; font-weight: bold;}

hr {border: 2px solid #333; margin: 0;}

header {background-image: url('images/test-bg.png'); background-size: 25%; background-position: 0 -100px; z-index: -1; display: block;background-color: #3498db;  background-blend-mode: multiply; }
header h1 {font-size: 500%; font-weight: 900; margin-bottom: 0px; margin-top: 20px; line-height: 1; text-align: center;}

header h1 { text-transform: uppercase; padding: 100px; }

section {
  width: 900px;
  margin: auto;
  padding: 60px 40px;
}

p {
  font-size: 26px;
  text-align: center;
}
